<nav
  class="navbar navbar-expand-lg navbar-dark bg-dark container-fluid"
  style="--bs-bg-opacity: 0.95"
  id="navbar"
>
  <img
    class="img-fluid rounded float-start"
    src="./../logo.svg"
    alt="logo"
    style="height: 50px"
    onError="this.onerror=null;this.src='./../logo.svg';"
  /><a class="navbar-brand" href="#">guidotorresmx</a
  ><button
    class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/add-recipe/">Add recipe</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://www.youtube.com/watch?v=oZcKT37EsMs"
          >Ideas</a
        >
      </li>
    </ul>
  </div>
</nav>
