<h1>Add new color</h1>

<form action="/add-colour-submit" method="post">
  <label for="name">Colour name</label><br />
  <input type="text" id="name" name="colourName" />
  <br /><br />
  <input type="submit" />
</form>
