<div style="display: flex; align-items: center; flex-direction: column;" >
  <h1>here are your recipes</h1>
  <% if (data.length > 0) { %>
  <ul style="list-style: none;">
    <% data.forEach(recipe => { %>
    <li>
      <a href="/recipe/<%= recipe.encoded_name %> ">
        <h3 style="display: inline"><%= recipe.name %></h3></a
      >
      <span
        class="delete"
        id="<%= recipe.encoded_name %>"
        style="cursor: pointer; background-color: red; color: white; border-radius: 5px; padding: 5px; margin-left: 10px;">
        &#10005;
      </span>
    </li>
    <% }) %>
  </ul>
  <% } else { %>
  <p>No colours yet</p>
  <% } %>
</div>

  <script>
    window.addEventListener("DOMContentLoaded", () => {
      const deleteBtnClickHandler = (event) => {
        console.log("clicked", event.currentTarget.id);
        fetch(`/delete-recipe`, {
          method: "POST",
          headers: {
            Accept: "application/json",
            "Content-Type": "application/json",
          },
          body: JSON.stringify({
            id: event.currentTarget.id,
          }),
        })
          .then(() => {
            window.location.reload();
          })
          .catch((err) => {
            console.log(err);
          });
      };

      const deleteBtns = document.getElementsByClassName("delete");

      Array.from(deleteBtns).forEach((btn) => {
        btn.addEventListener("click", deleteBtnClickHandler);
      });
    });
  </script>
</div>
