<!DOCTYPE html>
<html>
  <%- include('partials/header'); -%>
  <body>
    <div id="page-container">
      <%- include('partials/nav'); -%>
      <div id="content-wrap">
        <%- body %> <%- include('partials/footer'); -%>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
