html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px; /* Margin bottom by footer height */
}

#navbar #logo {
  color: #f2f2f2;
  font-size: 30px;
  padding: 10px 10px;
}
#navbar a {
  float: right;
  display: block;
  color: white;
  text-align: center;
  padding: 15px;
  text-decoration: none;
}

.nav-item:hover {
  background-color: #198754;
  border-radius: 5px;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 17rem; /* Footer height */
  min-height: 100vh;
}

html {
  position: relative;
  min-height: 100%;
}
.footer {
  position: absolute;
  margin-top: 4rem;
  bottom: 0;
  width: 100%;
  background-color: #f5f5f5;
}

.icon {
  color: white;
  font-size: 1.5em;
  padding: 0.5rem 0.4rem 0.4rem 0.4rem;
  margin-top: 1rem;
}

.icon:hover {
  background-color: #198754;
  border-radius: 10%;
}

footer p {
  text-align: center;
}

div .recipe-container {
  max-width: 576px;
  margin-left: auto;
  margin-right: auto;
}
